html {
    font-family: arial,sans-serif;
    color: rgb(10, 10, 10);
}


/* Editing header elements */
#gmail, #images {
    font-size: 13px;
    margin: 10px;
}
img[alt="menu"] {
    width: 20px;
    height: 20px;
    margin: 10px;
}
.name {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    line-height: 30px; 
    border-radius: 50%;
    color: #fff;
    background-color: rgb(42, 0, 121);
    margin: 10px;
}
/* Adding flex property to header element */
#flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}


/* Editing the style of main elements */
#google-logo {
    display: block;
    margin: 22.5vh auto 10px auto;
}
#search-bar-div {
    margin: auto;
    width: 580px;
    position: relative;
}
img[alt="voice-search"] {
    width: 15px;
    height: auto;
    position: absolute;
    top: 12.5px;
    right: 19px;
}
#search-bar {
    margin: auto;
    width: 580px;
    height: 45px;
    border: 0.5px solid rgba(0, 0, 0, 0.137);
    border-radius: 20px;
    overflow: visible;
    padding-inline-start: 15px;
    font-size: 16px;
}
#search-bar:hover {
    box-shadow: 1px 2px 4px -2px #0000004d;
}
