html {
    font-family: arial,sans-serif;
    color: rgb(10, 10, 10);
    min-width: 600px;
}
a {
    text-decoration: none;
    color: #5f6368;
}


/* Editing header elements */
#gmail, #images {
    font-size: 13px;
    margin: 10px;
}
img[alt="menu"] {
    width: 20px;
    height: 20px;
    margin: 10px;
}
.name {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    line-height: 30px; 
    border-radius: 50%;
    color: #fff;
    background-color: rgb(42, 0, 121);
    margin: 10px;
}
/* Adding flex property to header element */
#flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    margin-right: 20px;
}


/* Editing the style of main elements */
#google-logo {
    display: block;
    margin: 21.5vh auto 10px auto;
}
#search-bar-div {
    margin: auto;
    width: 580px;
    position: relative;
}
img[alt="voice-search"] {
    width: 15px;
    height: auto;
    position: absolute;
    top: 12.5px;
    right: 19px;
}
#search-bar {
    margin: auto;
    width: 580px;
    height: 45px;
    border: 0.5px solid rgba(0, 0, 0, 0.137);
    border-radius: 20px;
    overflow: visible;
    padding-inline-start: 15px;
    font-size: 16px;
}
#search-bar:hover {
    box-shadow: 1px 2px 4px -2px #0000004d;
}



/* Editing the footer and it's elements */
footer {
    font-size: 13px;
    background-color: rgb(242, 242, 242);
    position: absolute;
    bottom:0px;
    left: 0px;
    right: 0px;
    color: #5f6368;
    height: 84px;
    width: 100%;
}
#country_name {
    line-height: 41px;
    font-size: 15px;
    padding-left: 30px;
    border-top: 1px solid #ddd;
}
#bottom-section {
    line-height: 41px;
    border-top: 1px solid #ddd;
    padding-left: 20px;
}
#div-left, #div-right {
    display: inline-block;
    width: 45vw;
}
#div-left {
    
}
#div-right {
    text-align: right;
    padding-right: -10px;
    margin-right: -3vw;
}
.bottom-left, .bottom-right {
    padding: 10px;
    
}